body {
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

.logo {
    width: 400px;
    margin: 30px 0 20px 50px;
}

hr {
    height: 4px;
    background-color: #000000;
} 

nav{
    width: 100px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color:#000000;
}

mark {
    background-color: yellow;
    font-weight: bold;
    padding: 0 10px;
}

h1 {
    font-weight: normal;
}


main {
    text-align: center;
    margin-top: 100px;
}

/* Gallery(index.html) page */
.product-container {
    width: 405px;
    padding: 10px 10px 10px 10px;
    margin: auto;
    
    margin-bottom: 30px;
}

.product-container a{
    text-decoration: none;
}

.product-container a .product-name{
    text-decoration: underline;
}

.product-container p{
    margin: 5px auto 0 auto;
    text-align: left;

    font-size: 24px;
    color:#000000;
}

.product-container:hover {
    background-color: yellow;
}

.product-container:hover .product-name{
    font-weight: bold;
}

.product-img {
    width: 400px; /* followed what was on the document */
    border: 3px solid #000000;
}

/* Product Detail page */
.productdetail-img {
    width: 600px;
    border: 2px solid #000000;
    margin-top: 10px;
}

.productdetails-container {
    font-size: 22px;
    margin: auto;
    width: 310px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.customize-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-price {
    font-weight: bold;
    padding: 0 0 0 30px;
}

.options {
    font-size: 22px;
    width: 100%;
    padding: 5px 10px;
    margin-top: 7px;
    margin-bottom: 20px;
    border: black solid 2px;
}

.btn {
    padding: 10px 30px 10px 30px;
    background-color: yellow;
    border: 2px solid #212121;

    font-size: 22px;
    font-weight: bold;
}

/* Cart page */
.cart-img {
    width: 200px;  /* followed what was on the document */
    border: 3px solid #000000;
}

.cart-container {
    margin-top: 40px;
}

.cart-container p{
    font-size: 24px;
}

.cart-container .remove {
    font-size: 14px;
    text-decoration: underline;
}

.cart-container .cartItem-price {
    font-size: 26px;
    padding: 0 0 20px 0;
}

.cart-hr {
    width: 700px;
}

.cart-price {
    font-size: 26px;
}
