body {
    overflow: auto;
}

.profile-container {
    margin: 50px 18% 0 18%; 
}

/* Intro Section */
.intro-section {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.intro-text h1{
    font-family: Goldenbook;
    font-size: 40px;
    font-weight: 200;
}

.intro-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.profile-image {
    width: 300px;
}

/* Experience Section */
.experience-section {
    display: flex;
    gap: 150px;
    margin-bottom: 150px;
}

.section-title {
    font-size: 20px;
    width: 100px;
}
.experience-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

/* Description Pop-up */
.description-popup {
    position: absolute;
    padding: 10px 20px;
    background-color: rgba(79, 79, 79, 0.9);
    color: white;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    opacity: 0;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.experience-item:hover .description-popup {
    opacity: 1;
}

/* Projects Section */
.projects-section {
    display: flex;
    gap: 150px;
    margin-bottom: 700px;
}

.projects-cards {
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-card {
    width: 375px;
    height: 250px;
    background-color: #dcdcdc;
    position: absolute;
    border: 1px solid #000000;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease, z-index 0.3s ease;
}

.project-link:nth-child(1) .project-card {
    top: 0;
    left: 0;
}

.project-link:nth-child(2) .project-card {
    top: 150px; /* Offset vertically */
    left: 110px; /* Offset horizontally */
}

.project-link:nth-child(3) .project-card {
    top: 300px;
    left: 220px;
}

.projects-cards .project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-cards .project-card .project-number {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.projects-section .projects-cards .project-card:hover {
    z-index: 10; /* Bring hovered card to the front */
    transform: scale(1.05) !important; /* Slightly enlarge the card */
}

.grayed-out {
    filter: grayscale(100%) brightness(0.8); /* Gray out non-hovered cards */
}

.profile_bg {
    position: fixed;
    z-index: -1;
    opacity: 0.6;
}

/* Gradients in the background */
#up{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(106, 141, 155),
         rgba(176, 201, 215, 0.5));
    filter: blur(80px);
    animation: down 30s infinite;
}

#down{
    position: absolute;
    z-index: 0;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(222, 238, 244, 0.8), 
        rgb(112, 122, 166));
    filter: blur(80px);
    animation: up 20s infinite;
}

#left{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(166, 168, 197),
         rgba(195, 228, 229, 0.8));
    filter: blur(80px);
    animation: left 20s infinite;
}

#right{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(165, 201, 226, 0.6),
         rgba(89, 105, 127, 0.5));
    filter: blur(80px);
    animation: right 30s infinite;
}


/* Animating the gradients */
@keyframes down{
    0%, 100%{
        top: -100px;
    }
    70%{
        top: 700px;
    }
}
@keyframes up{
    0%, 100%{
        bottom: -100px;
    }
    70%{
        bottom: 700px;
    }
}
@keyframes left{
    0%, 100%{
        left: -100px;
    }
    70%{
        left: 1300px;
    }
}
@keyframes right{
    0%, 100%{
        right: -100px;
    }
    70%{
        right: 1300px;
    }
}


/* General Mobile Layout */
@media (max-width: 768px) {
    .profile-container {
        margin: 40px 10% 0 10%;
        overflow-x: hidden; 
    }
    
    .profile-image {
    width: 200px;
    }

    .intro-section {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 60px;
    }

    .experience-section {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 70px;
    }

    .description-popup {
        width: 85%;
    }

    .projects-section {
        gap: 30px;
        flex-direction: column;
        margin-bottom: 450px;
    }

    .project-card {
        width: 210px;
        height: 140px;
    }

    .project-link:nth-child(2) .project-card {
        top: 110px; 
        left: 50px;
    }
    
    .project-link:nth-child(3) .project-card {
        top: 220px;
        left: 100px;
    }
}
